Source: nadoka
Section: net
Priority: optional
Maintainer: Taku YASUI <tach@debian.or.jp>
Build-Depends: cdbs, debhelper (>= 4.0.0)
Standards-Version: 3.8.0

Package: nadoka
Architecture: all
Depends: ruby1.8
Description: IRC logger, monitor and proxy program ("bot") in Ruby
 Nadoka is a tool for monitoring and logging IRC conversations and
 responding to specially formatted requests. You define and customize
 these responses in Ruby. Nadoka is conceptually similar to Madoka, an
 older proxy written in Perl.
