#!/usr/bin/make -f
# Sample debian/rules that uses cdbs.  Originaly written by Robert Millan.
# This file is public domain.
   
# Add here any variable or target overrides you need
include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/nadoka::
	install -m 0755 nadoka $(CURDIR)/debian/nadoka/usr/bin/nadoka
	cp -a *.rb plugins rice $(CURDIR)/debian/nadoka/usr/share/nadoka
	find $(CURDIR)/debian/nadoka/usr/share/nadoka -name '*.[nr]b' | xargs chmod ugo-x
